[lint]
select = ["E", "F", "W", "I", "UP", "B", "C4", "SIM"]
ignore = []

[lint.per-file-ignores]
"__init__.py" = ["F401"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"
