#!/usr/bin/env node
import { program } from 'commander'
import { greet } from './cli.js'

program
  .name('{{PROJECT_NAME}}')
  .description('{{PROJECT_NAME_PASCAL}} CLI')
  .version('0.1.0')

program
  .command('greet')
  .description('Say hello')
  .argument('[name]', 'Name to greet', 'World')
  .action((name) => {
    console.log(greet(name))
  })

program.parse()
